.star{
    color: grey;
    font-size: 30px;
}
.star:hover,.star:hover ~ .star{
    color: #c45256;
}
.clasificacion input{
    display: none;
}
.clasificacion input[type="radio"]:checked ~ .star{
    color: #beda2e;
}
.clasificacion{
    direction: rtl;/* de derecha a izquierda */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
    width: 150px;
}
.comentarios{
    width: 99%;
    justify-content: center;
    margin: 5rem 1rem;
    box-sizing: border-box;
}
.coment{
    margin-top: 15px ;
    width: 500px;
    height: 150px;
    border: 2px solid #c45256;
}
.coment:hover,.coment:active{
    border: 2px solid #beda2e;
}
