@media only screen and (max-width:412px) {
    .wrapper{
        display: block;
    }
    body{
        width: 100%;
        max-width: 412px;
    }
    .fondo {
        display: none;
    }
    .caja{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .log-in{
        width: 100%;
    }
    .toggle3{
        display: flex;
        background-color: #c45256;
        color:#f7f7f7;
        border-radius: 5px;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width:50px ;
        max-height: 50px;
        font-weight: bolder;
        font-size: 25px;
        justify-content: center;
        box-sizing: border-box;
    }
    .toggle3:active{
        background-color:#beda2e;
    }
    .nav_menu{
        display: none;
        position: absolute ;
        background-color: #c45256;
        width: 100%;
        top: 100px;
        left: 100%;
        height: 100%;
        overflow: auto;
        transition: left 0.5s;
    }
    .nav_menu_visible{
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        padding-top: 3rem;

    }
    .menu-item{
        color: #f7f7f7;
        font-size: 2rem;
    }
    .menu{
        line-height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        color: #f7f7f7;
        font-size: larger;
        text-align: center;
        box-sizing: border-box;
    }
    .search{
        display: none;
        transform: translate(0.10%);
    }

    .form-log{
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .btn-search{
        display: block;
        width: 3rem;
        height: 3rem;
        background-position: center;
        transform: translate(0,5%);
        color: #f7f7f7;
        background-image:url(../img/search2.svg);
    }
    aside{
        width: 99%;
    }
    .coment{
        width: 80%;
    }
    .main-product,.relate-product{
        margin: .5rem;
    }
    .clasificacion{
        width: 250px;
    }
    .menu-search-menu{
        display: none;
    }
    .bsq-main{
        display: block;
    }
    .ficha-bsq{
        width: 95%;
        margin: auto;
        display: block;
    }
    .header-hide{
        display: none;
    }  
    header{
        display:flex;
        justify-content: space-between;

    }
    .logo{
        background-size: contain;
        margin: 0.3em 1rem;
    }
    .invisible{
        display: none;
    }
    .visible{
        display: block;
    }
}