*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    /* background: url(/css-menu/fondo1.png);*/
}

/*body{
    justify-content: space-evenly;
    font-family:Arial;
    background: url(fondo1.png); 
}*/

.contenedor{
    width:70%;
    /*max-width:1000px;*/
    margin: 0 auto;
    overflow:hidden;
    border-radius: 20px;
}

header{
    display: grid;
    grid-template-columns: 2fr 7fr;
    gap: 1rem;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
}
.logo{
    height: auto;
    width: 100%;
    margin:0 .5rem 0 2rem;
    box-sizing: border-box;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}
.nav-bar{
    width:100%;
    height: 100px;
    display: grid;
    gap: .5rem;
    grid-template-columns: 5fr 1fr;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
}
.nav_menu{
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;

}
.fondo{
    background: linear-gradient(to left, rgba(255, 255, 255,0),rgba(252, 253, 246,.1)),url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: right;
    background-image: url(../img/background.png);
}
.menu{
    display: inline-block;
    line-height: 7rem;
    margin: 0.2rem;
}
.menu-item{
    text-decoration: none;
    color:#c45256;
    font-weight: bolder;
    font-size: 1.3em;
}
.form-log{
    height: 80px;
    padding-top: 1rem;
    box-sizing: border-box;
    display: flex;
    margin-top: 1rem;
}
.search{
    height: 35px;
    width: 250px;
    border-radius: 15px;
    margin: 0 5px;
    font-size: 20px;
    padding-left: 1rem;
    box-sizing: border-box ;
    background-color: #fcfdf6;
    border-color: #c45256;
    transform: translate(0,-15%);
}
h2:hover ,.hv:hover,.menu-item:hover{
    color: #beda2e;
}
.form-inp:hover,.search:hover{
    border-color: #beda2e;

}
.entrar:hover,.btn-search:hover{
    border-color: #beda2e;
    background-color: #beda2e;
}
#caja{
    display: none;
}
.btn-search{
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #c45256;
    background-image:url(../img/search.svg);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    transform: translate(0,-24% );
}

h2{
    color: #c45256;
    font-size: 40px;
    margin-bottom: 30px;
}
.log-in{
    width: 97%;
    margin: auto;
    display: block;
    max-width: 350px;
    text-align: center;
}
.log-in label{
    font-size: 20px;
    display: block;
    margin: 5px;
    text-align: left;
    padding-left: 2rem;
}
.form-inp{
    width: 85%;
    height: 28px;
    border-radius: 10px;
    border-color: #c45256;
    background-color: #fcfdf6;
    margin: 6px 2px;
}
.form-inp:hover  {
    width: 92%;
    height: 33px;
}
.form-inp:focus{
    width: 92%;
    height: 33px;
    border-color: #c45256;
}
.log-in p{
    text-align: left;
    padding-left: 2rem;
    margin: 10px 0;
    font-size: 20px;
}
.entrar{
    width: 150px;
    border-radius: 10px;
    border-color: #c45256;
    background-color: #c45256;
    height: 35px;
    margin: 1rem;
}
.form-logo{
    height: 100px;
    width: 150px;
    margin-left: 3rem;
    box-sizing: border-box;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    display: inline;
}
.hv{
    color: #c45256;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 1rem;
}
.toggle3, .toggle1{
    display: none;
}

footer {
    clear:both;
    float:left;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;    
    padding: 10px;
    color: #000000;
    background:#bfd833;
    text-align: center;
}


@media only screen and (max-width:768px){
    .menu-item{
        font-size: 18px;
    }
    .toggle3{
        display: inline-block;
    }


}