<header>
    <div class="logo"></div>
    <div class="caja">
        <button class="toggle3">
            <i class="fas fa-bars"></i>
        </button>
    </div>    
    <nav class="nav-bar">
        <ul class="nav_menu">

            {%if 'username'in session %}
            <li class="menu"><a class="menu-item" href="/">Inicio</a></li>
            {%endif%}

            {%if 'username' not in session  %}
            <li class="menu"><a class="menu-item" href="/login">log in</a></li>
            <li class="menu"><a class="menu-item" href="/registrarse">Registrarse </a></li>
            {%endif%}

            <li class="menu"><a class="menu-item" href="/contacto">contactenos </a></li>
            
            {%if 'username'in session %}
            <li class="menu"><a class="menu-item" href="/producto">Productos </a></li>
            <li class="menu"><a class="menu-item" href="/carrito">carrito </a></li>
            <li class="menu"><a class="menu-item" href="/logout"> logout </a></li>
            {%endif%}
                
        </ul>
        <form class="form-log" action="" method="get">
            <label for="search"></label>
            <input type="text" placeholder="buscar" name="search" id="search" class="search" autofocus>
            <input type="button" class="btn-search" id="btn-search">
        </form>
    </nav>
</header>