{%extends "base.html"%}
    
<body>

    {%block contenido%}
    <section>
        <br>
        <br>
        <center>
            <h1>
                <font color="black" size="6">Combos<br></font>
        </center>
        <div class="linea"></div>
    
        <div class="content-all">
            <div class="content-carrousel">
                <figure><a href="producto.html" target="_blank"><img src="img/combo1.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/combo2.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/vegan-combo.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/mega combo.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/combo3.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/combo4.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/combo5.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/combo6.jpg"></a></figure>
                <figure><a href="producto.html" target="_blank"><img src="img/combo7.jpg"></a></figure>
    
            </div>
        </div>
        <br><br><br>
    
        <center>
            <h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                    <font color="black" face="Arial" size="6">Menu<br>
                    </font>
        </center>
    
        <div class="galeria">
    
    
            <div class="linea"></div>
            <div class="contenedor-imagenes">
    
                <div class="imagen">
                    <img src="img/background.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <div class="texto">
                            <center>
                                <font color="black" size="6">Cafe late</font>
                                <br>
                                <font color="black" size="6">$$$$$$</font>
                                <div class="over-img">
                                    <br>
                                    <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                    <a href="#"><img src="star.png"></a>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="imagen">
                    <img src="cafe.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">Cafe </font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
    
    
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/cafecito.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">Cafe con leche</font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/naranjita.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">Jugo de naranja</font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/limo.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">limonada</font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/blue berry.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">Blue berry</font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/cafe descafeinado.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">Cafe Descafeinado</font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/coca.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">Coca Cola</font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/beer.jpg" alt="">
                    <div class="overlay">
                        <br>
                        <center>
                            <font color="black" size="6">Cerveza</font>
                            <br>
                            <font color="black" size="6">$$$$$$</font>
                            <div class="over-img">
                                <br>
                                <h1><a href="producto.html"><img src="compra.png"></a></h1>
                                <a href="#"><img src="star.png"></a>
                        </center>
                    </div>
                </div>
                <!-- <div class="imagen">
                   <img src="img/1 (2).jpg" alt="">
               </div> -->
            </div>
  

    {%endblock%}

</body>