<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/busqueda.css">
    <link rel="stylesheet" href="css/resultados.css">
    <link rel="stylesheet" href="css/mobile.css">
    <script defer src="https://kit.fontawesome.com/5b0f61e452.js" crossorigin="anonymous"></script>
    <script defer src="js/bars.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo"></div>
        <nav class="nav-bar">
            <button class="toggle">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav_menu">
                <button class="toggle1">
                    <i class="fas fa-bars"></i>
                </button>
                <li class="menu"><a class="menu-item" href="#">Inicio</a></li>
                <li class="menu"><a class="menu-item" href="#">Iniciar sesión</a></li>
                <li class="menu"><a class="menu-item" href="#">contactenos </a></li>
            </ul>
            <form class="form-log" action="" method="get">
                <label for="search"></label>
                <input type="text" placeholder="buscar" name="search" id="search" class="search" autofocus>
                <input type="button" value="" class="btn-search" id="btn-search">
            </form>
        </nav>
    </header>
    <main class="bsq-main">
        <aside>
            <nav class="menu-search-menu">
                <ul>
                    <li><a class="menu-search menu-search-active" href="#">Categorias</a></li>
                    <li><a class="menu-search" href="#">Calientes</a></li>
                    <li><a class="menu-search" href="#">Frias</a></li>
                    <li><a class="menu-search" href="#">Combos</a></li>
                </ul>
            </nav>
        </aside>
        <section class="resultados-bsq">
            <h2>Resultados de busqueda</h2>
            <div class="ficha-bsq"><div class="bsq-pro"><img class="bsq-img" src="img/cafecito.jpg" alt=""><p class="precio">$1000</p> <div class="icono"> <p class="ico">★</p> <p class="ico">★</p></div></div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quas quibusdam reprehenderit numquam nesciunt. Eveniet modi porro dolorem aut, doloribus odio maxime officiis quisquam commodi, rem praesentium quos, soluta totam.
            Libero quisquam distinctio amet harum rem aperiam, magni perspiciatis consectetur ipsam dolore quasi provident excepturi esse, non reiciendis alias minima laudantium. Iusto, porro. Aliquid aperiam odit itaque, et eos illo?
            Consequatur ad ipsam delectus repellendus, error fugiat? Excepturi, ad perspiciatis possimus veritatis eveniet saepe exercitationem eaque nihil cum odit iste ipsa! Nobis maxime maiores vel aliquam quia eius, asperiores iure?
            Enim totam corporis ratione magnam! Perferendis animi et quibusdam culpa quod ab repellat, repellendus facere minima beatae veritatis corrupti eligendi. Laborum error soluta provident quae! Placeat magni dolores deleniti harum!
            Molestias magni ex labore nihil adipisci laborum quasi recusandae omnis vel, dolorum reprehenderit quidem minus, error iste deleniti animi laudantium atque dolores expedita maxime accusantium asperiores? Quo consequuntur maiores hic?</p></div>
            <div class="ficha-bsq"><div class="bsq-pro"><img class="bsq-img" src="img/cafecito.jpg" alt=""><p class="precio">$1000</p> <div class="icono"> <p class="ico">★</p> <p class="ico">★</p></div></div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quas quibusdam reprehenderit numquam nesciunt. Eveniet modi porro dolorem aut, doloribus odio maxime officiis quisquam commodi, rem praesentium quos, soluta totam.
            Libero quisquam distinctio amet harum rem aperiam, magni perspiciatis consectetur ipsam dolore quasi provident excepturi esse, non reiciendis alias minima laudantium. Iusto, porro. Aliquid aperiam odit itaque, et eos illo?
            Consequatur ad ipsam delectus repellendus, error fugiat? Excepturi, ad perspiciatis possimus veritatis eveniet saepe exercitationem eaque nihil cum odit iste ipsa! Nobis maxime maiores vel aliquam quia eius, asperiores iure?
            Enim totam corporis ratione magnam! Perferendis animi et quibusdam culpa quod ab repellat, repellendus facere minima beatae veritatis corrupti eligendi. Laborum error soluta provident quae! Placeat magni dolores deleniti harum!
            Molestias magni ex labore nihil adipisci laborum quasi recusandae omnis vel, dolorum reprehenderit quidem minus, error iste deleniti animi laudantium atque dolores expedita maxime accusantium asperiores? Quo consequuntur maiores hic?</p></div>
            <div class="ficha-bsq"><div class="bsq-pro"><img class="bsq-img" src="img/cafecito.jpg" alt=""><p class="precio">$1000</p> <div class="icono"> <p class="ico">★</p> <p class="ico">★</p></div></div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quas quibusdam reprehenderit numquam nesciunt. Eveniet modi porro dolorem aut, doloribus odio maxime officiis quisquam commodi, rem praesentium quos, soluta totam.
            Libero quisquam distinctio amet harum rem aperiam, magni perspiciatis consectetur ipsam dolore quasi provident excepturi esse, non reiciendis alias minima laudantium. Iusto, porro. Aliquid aperiam odit itaque, et eos illo?
            Consequatur ad ipsam delectus repellendus, error fugiat? Excepturi, ad perspiciatis possimus veritatis eveniet saepe exercitationem eaque nihil cum odit iste ipsa! Nobis maxime maiores vel aliquam quia eius, asperiores iure?
            Enim totam corporis ratione magnam! Perferendis animi et quibusdam culpa quod ab repellat, repellendus facere minima beatae veritatis corrupti eligendi. Laborum error soluta provident quae! Placeat magni dolores deleniti harum!
            Molestias magni ex labore nihil adipisci laborum quasi recusandae omnis vel, dolorum reprehenderit quidem minus, error iste deleniti animi laudantium atque dolores expedita maxime accusantium asperiores? Quo consequuntur maiores hic?</p></div>
            <div class="ficha-bsq"><div class="bsq-pro"><img class="bsq-img" src="img/cafecito.jpg" alt=""><p class="precio">$1000</p> <div class="icono"> <p class="ico">★</p> <p class="ico">★</p></div></div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quas quibusdam reprehenderit numquam nesciunt. Eveniet modi porro dolorem aut, doloribus odio maxime officiis quisquam commodi, rem praesentium quos, soluta totam.
            Libero quisquam distinctio amet harum rem aperiam, magni perspiciatis consectetur ipsam dolore quasi provident excepturi esse, non reiciendis alias minima laudantium. Iusto, porro. Aliquid aperiam odit itaque, et eos illo?
            Consequatur ad ipsam delectus repellendus, error fugiat? Excepturi, ad perspiciatis possimus veritatis eveniet saepe exercitationem eaque nihil cum odit iste ipsa! Nobis maxime maiores vel aliquam quia eius, asperiores iure?
            Enim totam corporis ratione magnam! Perferendis animi et quibusdam culpa quod ab repellat, repellendus facere minima beatae veritatis corrupti eligendi. Laborum error soluta provident quae! Placeat magni dolores deleniti harum!
            Molestias magni ex labore nihil adipisci laborum quasi recusandae omnis vel, dolorum reprehenderit quidem minus, error iste deleniti animi laudantium atque dolores expedita maxime accusantium asperiores? Quo consequuntur maiores hic?</p></div>

        </section>
    </main>
    <footer>
        <h3>Copyright © 2021 <a href="index.html">Duun Brothers Coffee</a>/ <a href="DMCA.html"> DMCA</a></h3>
    </footer>
    
</body>
</html>