<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Resultado de Busqueda</title>
</head>

<body>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #f2f7d7; ">
        <div class=" container-fluid container">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" width="90"  class="d-inline-block align-top" alt="">
             </a>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- fin nav -->

    <div class="row container mt-5">
        <div class="container my-auto col-md-4">
            <br>
            <div class="card" style="width: 18rem;">
                <img src="img/cafecito.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CATEGORIAS</h5>
                  <p class="card-text">Encuentra nuestra variedad de productos y elige el que mas te guste.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Productos calientes</li>
                  <li class="list-group-item">Productos frios</li>
                  <li class="list-group-item">Nuestros Combos</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="text-success">Lista de productos</a>
                  
                </div>
              </div>
           

        </div>
        <div class="col-md-6 d-none d-sm-none d-md-block">
            <h2 class="text-center">RESULTADO DE BUSQUEDA</h2>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-9"><B>Café Helado</B></div>
                  <div class="col-4"><img src="img/cafe_helado.jpg" class="img-thumbnail">
                    <br>
                    $ 15.000 &nbsp
                    <img src="img/carrito-de-compras-agregar.png"alt="" width="20" height="20"> &nbsp &nbsp &nbsp 
                    <img src="img/corazon.png"alt="" width="20" height="20"> 
                    <br>
                     </div>
                  <div class="col-6"><B>Descripción</B><br> Es una de las bebidas más exquisitas para tomar, especialmente en días de calor</div>
                </div>
              </div>
              <br><br><br>
              <div class="container">
                <div class="row">
                  <div class="col-9"><B>Granizado de Café</B></div>
                  <div class="col-4"><img src="img/granizado_cafe.jpg" class="img-thumbnail">
                    <br>
                    $ 11.000 &nbsp
                    <img src="img/carrito-de-compras-agregar.png"alt="" width="20" height="20"> &nbsp &nbsp &nbsp 
                    <img src="img/corazon.png"alt="" width="20" height="20"> 
                    <br>
                     </div>
                  <div class="col-6"><B>Descripción</B><br> Espectacular Bebida de Café Con Hielo y Crema Chantilly</div>
                </div>
              </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>