@import url("menu1.css");
*{
    margin:0;
    padding:4;
}
body {
    background: url(fondo.png);
    font-family:Arial;
}
.contenedor{
    width:70%;
    /*max-width:1000px;*/
    margin: 0 auto;
    overflow:hidden;
    
}
header{
  
    margin:20px auto;
}


.main {
    width:1000%;
   
    padding: 100%;
    float:right;
    box-sizing:0 ;
    text-align: justify;
}
.main img{
    width: 500%;
    height:auto;
   }
.main ol{
    padding: 50px;
}

article{
	width: 60%;
	height: auto;
	margin: 0 auto;
	
}


.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

#izquierda{
     background: #A99D9D;
     text-align: justify;
}

footer {
    clear:both;
    float:left;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;    
    padding: 10px;
    color: #000000;
    background:#bfd833;
    text-align: center;
}




@media screen and (max-widht: 800px){
    .main {
        width:900%;
    }
    .aside{
        width:80%;
    }
}

@media screen and (max-widht: 400px){
    .contenedor{
        width:10%;
    }
}
    
    