*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
   
	font-family: 'open sans';
	
	margin: auto;
	justify-content: space-around;
    flex-wrap: wrap;
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
    
}

.linea{
    border-top: 5px solid #bfd833;
    margin-bottom: 50px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:10px;
    box-shadow: 0px 0px 7px 0px #bfd833
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:#ffebcd;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}



.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}